// New bet
.custom-select {
  margin: 10px 0px;
}

.btn-new-bet {
  text-align: center;
}

.validate-form {
  justify-content: space-between;
}

//  Index bets

.card-div {
  margin-top: 20px;
}

.trash {
  background-color: transparent;
  border: none;
  color: #DC3545;
}

.trash-div {
  display: flex;
  align-items: center;
}

.button-space {
  justify-content: space-around;
}

.fa-times {
  font-size: 25px;
  margin: 0 5px;
}

.fa-check {
  font-size: 25px;
}

.card-div {
  justify-content: center !important;
}

.image-card {
  width: 23px;
  margin-left: 5px;
}

.img-li {
  display: flex !important;
  justify-content: space-between;
}

.match-li {
  text-align: center;
}

.logo-team {
  width: 50px;
}

.bet-li {
  display: flex !important;
  justify-content: space-between;
}
