// New bet
.custom-select {
  margin: 10px 0px;
}

.btn-new-bet {
  text-align: center;
}

.validate-form {
  justify-content: space-between;
}

//  Index bets

.card-div {
  margin-top: 20px;
}

.trash {
  background-color: transparent;
  border: none;
  color: #DC3545;
}

.trash-div {
  display: flex;
  align-items: center;
}

.button-space {
  justify-content: space-around;
}

.fa-times {
  font-size: 25px;
  margin: 0 5px;
}

.fa-check {
  font-size: 25px;
}

.card-div {
  justify-content: center !important;
}

.image-card {
  width: 35px;
  margin-left: 5px;
}

.img-li {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.match-li {
  text-align: center;
}

.logo-team {
  width: 50px;
}

.bet-li {
  display: flex !important;
  justify-content: space-between;
  text-align: center;
}

.badge {
  font-size: 20px !important;
}

.list-group-item {
  border: none !important;
}

.card {
  border: 2px solid #4c5d72 !important;
}

.fa-caret-square-down {
  color: #2c3b4f;
}

.fa-caret-square-up {
  color: #2c3b4f;
}

// Components bootstrap with my colors

.badge-danger {
  font-family: 'Prompt', sans-serif;
  background-color: #d8413c !important;
}

.badge-success {
  font-family: 'Prompt', sans-serif;
  background-color: #6ac46b !important;
}

.badge-warning {
  font-family: 'Prompt', sans-serif;
  background-color: #4c5d72 !important;
  color: white !important;
}

.btn-danger {
  font-family: 'Prompt', sans-serif;
  background-color: #d8413c !important;
  border: none !important;
}

.btn-success {
  font-family: 'Prompt', sans-serif;
  background-color: #6ac46b !important;
  border: none !important;
}
