// New bet
.custom-select {
  margin: 10px 0px;
}

.btn-new-bet {
  text-align: center;
}

.validate-form {
  display: flex;
  justify-content: space-between;
}


//  Index bets

.card-div {
  margin-top: 20px;
}

.trash {
  background-color: transparent;
  border: none;
}

.trash-div {
  display: flex;
  align-items: center;
}
