.home-section {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.img-home-content {
  width: 100%;
}

.img-home {
  width: 250px;
  margin-right: 10px;
}

.button-home {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 80px;
}

.btn-primary {
  font-family: 'Prompt', sans-serif;
  background-color: #2c3b4f !important;
  border: none !important;
}

.img-pwa-top {
  width: 100%;
  margin-bottom: 50px;
}

.div-pwa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.txt-pwa {
  margin-bottom: 25px;
}

.img-pwa {
  width: 150px;
}

