<div class="container">

  <%= simple_form_for @bet do |f| %>
    <div id="new-bet">
    </div>
      <%= f.input :odd, error: 'You need a odd' %>
      <%= f.input :bet_amount %>
    <div class="btn-new-bet">
      <%= f.button :submit, "bet", class:'btn btn-success' %>
    </div>
  <% end %>
</div>
