<div class="container">
  <div class="logo-league">
    <img src="<%= @match.first["homeTeam"]["logo"] %>" style="width: 100px;" alt="">
    <span>VS</span>
    <img src="<%= @match.first["awayTeam"]["logo"] %>" style="width: 100px;" alt="">
  </div>

  <div id="bet-list">
  </div>

</div>

