<div>
  <ul id="bet-list">
    <% @matchs.each do |bet| %>
      <%= link_to fixture_path(bet["fixture_id"]), class:"trash" do %>
        <li>
          <%= bet["homeTeam"]["team_name"] %> vs <%= bet["awayTeam"]["team_name"] %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
