<div class="container">
  <div class="logo-team">
    <img src="<%= @match.first["homeTeam"]["logo"] %>" style="width: 100px;" alt="">
    <h1 class="vs">VS</h1>
    <img src="<%= @match.first["awayTeam"]["logo"] %>" style="width: 100px;" alt="">
  </div>

  <ul id="bet-list">
  </ul>

</div>
